* {
    box-sizing: border-box;
}

body {
    background-size: 100%;
    z-index: 1;
}

#intro-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

h1 {
    position: relative;
    color: white;
    z-index: 3;
}

form {
    position: absolute;
    bottom: 50px;
    left: 44.5%;
    z-index: 2;
}

.wrapper{
    position: absolute;
    overflow: hidden;
    top: 13.61%;
    left: 8.72%;
    z-index: 0;
    height: 333px;
    width: 1400px;
}

#gifs {
    position: absolute;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
    left: 0;
    right: -17px;
    /* overflow: auto; */
}
/* #gifs {
    position: absolute;
    top: 13.61%;
    left: 8.72%;
    z-index: 0;
    height: 333px;
    width: 1405px;
    overflow-y: scroll;
    /* overflow: auto;
} */
.gif {
    height: 333px;
    width: 594.5px;
}

.rating {
    position: absolute;
    color: white;
    left: 10px;
}

#info {
    position: absolute;
    top: 15.61%;
    right: 20%;
    height: 200px;
    width: 300px;
    color: white;
    font-size: 14px;
}

#topic-view {
    position: fixed;
    bottom: 178px;
    left: 132px;
    width: 83%;
    background-color: black;
    z-index: 2;
}

#add-topic {
    position: absolute;
    bottom: -30%;
    left: 20.5%;
    z-index: 2;
}

button {
    padding-top: 20px;
    padding-bottom: 20px;
}